* {
  padding: 0px;
  margin: 0px;
  scroll-behavior: smooth;
}

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

a, p {
  font-family: 'Nunito', sans-serif;
}

p {
  line-height: 1.8;
}

#navigacija .navbar-brand {
  font-size: 1.8em;
  font-weight: 600;
}

#navigacija ul li {
  font-size: 1.1em;
  padding: 0px 15px;
  font-weight: 600;
}

#navigacija #icons a .icon {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  color: #333;
}

header #carouselExampleCaptions .carousel-inner .carousel-item {
  position: relative;
}

header #carouselExampleCaptions .carousel-inner .carousel-item .carousel-caption {
  position: absolute;
  top: 0px;
  top: 35%;
}

main {
  background-color: #F2F1EF;
}

main #mostPopular .card {
  border: 0px !important;
  border-radius: 0px !important;
  padding: 20px;
  -webkit-transition: .3s;
  transition: .3s;
}

main #mostPopular .card:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

main #mostPopular .card .card-body p {
  text-transform: uppercase;
}

main #posts {
  padding-right: 50px;
}

main #posts .post h2 {
  font-size: 3em;
}

main #posts .post .dugme a {
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20px;
  border: 3px solid #F58F84;
  border-radius: 50px;
  color: #333;
  -webkit-transition: .3s;
  transition: .3s;
}

main #posts .post .dugme a:hover {
  color: #fafafa;
  background-color: #F58F84;
}

main #posts #pagination {
  padding: 30px 0px;
  margin-bottom: 20px;
}

main #posts #pagination a {
  font-size: 1.3em;
  text-decoration: none;
  color: #333;
  border: 3px solid #F58F84;
  padding: 5px 12px;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 50px;
}

main #posts #pagination a:nth-child(1) {
  margin-right: 5px;
}

main #posts #pagination a:hover {
  background-color: #F58F84;
  color: #fafafa;
}

main #sidebar {
  margin-top: 50px;
  padding-left: 50px;
}

main #sidebar #about h3, main #sidebar #about p {
  text-align: center;
}

main #sidebar #about a {
  text-transform: uppercase;
  text-decoration: none;
  color: #333;
  font-weight: 600;
}

main #sidebar #about a:hover {
  color: #000;
}

main #sidebar #newsletter {
  margin: 80px 0px;
  background-color: #fff;
  padding: 30px 10px;
}

main #sidebar #newsletter h3 {
  text-align: center;
}

main #sidebar #newsletter p {
  width: 90%;
  margin: 0px auto;
}

main #sidebar #newsletter form {
  width: 90%;
  margin: 0px auto;
}

main #sidebar #newsletter form button {
  background-color: #333;
  color: #fff;
}

main #sidebar #instagram {
  margin-bottom: 80px;
}

main #sidebar #instagram .instagramImg {
  padding-right: 0px !important;
  padding-bottom: 10px;
}

main #sidebar #latestPosts {
  background: #fff;
  padding: 30px 20px;
}

main #sidebar #latestPosts .latestPost h4 {
  font-size: 1.1em;
}

footer {
  margin-top: 10px;
  color: #f1f1f1;
}

footer #imgFoo {
  padding: 10px 0px;
}

footer #imgFoo img {
  -webkit-transition: .3s ease-in;
  transition: .3s ease-in;
}

footer #imgFoo img:hover {
  background-color: #000;
  padding: 10px;
}

footer #bottomFoo {
  padding: 30px 0px;
  background-color: #000;
}

footer #bottomFoo #fooSocials a {
  margin: 0px 10px;
  color: #f1f1f1;
  -webkit-transition: .3s;
  transition: .3s;
  padding: 16px 20px 20px 20px;
  background-color: #111;
  border-radius: 50%;
}

footer #bottomFoo #fooSocials a svg {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

footer #bottomFoo #fooSocials a:hover {
  background-color: #222;
}

footer #bottomFoo .copy {
  font-weight: 600;
}

footer #bottomFoo .top {
  color: #f1f1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 30px;
  text-decoration: none;
}

#contactForm input {
  height: 44px;
  border: 0px !important;
}

#contactForm textarea {
  height: 200px;
  resize: none;
  border: 0px !important;
}

#contactForm button {
  height: 44px;
}

#postHeader {
  height: 70vh;
  background-image: url("../img/a.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
  position: relative;
  color: #f1f1f1;
}

#postHeader .tekstHeader {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#postHeader .tekstHeader p {
  background-color: #111;
  width: 250px;
  margin: 0px auto;
}

@media screen and (max-width: 1024px) {
  header #carouselExampleCaptions .carousel-inner .carousel-item .carousel-caption {
    top: 20%;
  }
  header #carouselExampleCaptions .carousel-inner .carousel-item .carousel-caption h1 {
    font-size: 3em;
  }
  main #posts .post h2 {
    font-size: 2.4em;
  }
  footer .container-fluid {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
}

@media screen and (max-width: 1024px) {
  #navigacija #icons a .icon {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@media screen and (max-width: 540px) {
  main #posts .post h2 {
    font-size: 2em;
  }
  main #posts {
    padding-right: 0px;
  }
  main #sidebar {
    padding-left: 0px;
  }
  footer #imgFoo {
    padding: 10px 10px;
  }
  footer #bottomFoo #fooSocials a {
    margin: 0px 5px;
  }
  .modal {
    width: 80% !important;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 415px) {
  header #carouselExampleCaptions .carousel-inner .carousel-item .carousel-caption {
    top: 15%;
  }
  header #carouselExampleCaptions .carousel-inner .carousel-item .carousel-caption h1 {
    font-size: 2.4em;
  }
  main #sidebar {
    margin-top: 50px;
    padding: 10px;
  }
  main #posts {
    padding: 10px;
  }
  footer #bottomFoo .copy {
    font-size: .9em;
  }
}

@media screen and (max-width: 320px) {
  header #carouselExampleCaptions .carousel-inner .carousel-item .carousel-caption {
    top: 10%;
  }
  header #carouselExampleCaptions .carousel-inner .carousel-item .carousel-caption h1 {
    font-size: 2em;
  }
  footer #bottomFoo #fooSocials a {
    margin: 0px;
  }
}
/*# sourceMappingURL=style.css.map */